.paymentWrap {
	padding: 10px;
}

.paymentWrap .paymentBtnGroup {
	max-width: 400px;
	margin: auto;
}

.paymentWrap .paymentBtnGroup .paymentMethod {
	padding: 75px;
	box-shadow: none;
	position: relative;
}


.paymentWrap .paymentBtnGroup .paymentMethod .method {
	position: absolute;
	right: 10px;
	top: 10px;
	bottom: 10px;
	left: 10px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 2px solid transparent;
	transition: all 0.5s;
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.visa {
	background-image: url("visa.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.mastercard {
	background-image: url("mastercard.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.interac {
	background-image: url("interac.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method.paypal {
	background-image: url("paypal.jpg");
}

.paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
	outline: none !important;
}